PORT=0000

ALLOWED_HOSTS=*,https://testfe.monheim.app

#Single DB setup mssql
DB_SERVER=localhost
DB_PORT=1433
DB_USER=mssql
DB_PASSWORD=password
DB_NAME=mssql

#Multi DB Setup
POST_DB_HOST=localhost
POST_DB_PORT=5432
POST_DB_USER=postgres
POST_DB_PASSWORD=password
POST_DB_NAME=postgres

MSSQL_DB_HOST=localhost
MSSQL_DB_PORT=1433
MSSQL_DB_USER=mssql
MSSQL_DB_PASSWORD=password
MSSQL_DB_NAME=mssql

JWT_SECRET=secret
JWT_SECRET_REFRESH=secret_refresh

#For mobile social auths
EXPO_PUBLIC_SCHEME=example://
EXPO_PUBLIC_BASE_URL=https://example.test.com
