PORT=3000
ALLOWED_HOSTS=http://localhost:3000,http://127.0.0.1:3000

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=password
DB_NAME=snippet



JWT_SECRET=SECRET
JWT_SECRET_REFRESH=SECRET

EXPO_PUBLIC_SCHEME=examplae://
EXPO_PUBLIC_BASE_URL=https://example.test.com
